<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Waitstaff Calculator</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="css/bootstrap.css">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="css/sky-forms.css">
	<link rel="stylesheet" href="css/styles.css">


</head>
<body>
	
	<div class="container-fluid" ng-controller="waitstaffCtrl">
	
		<div class="page-header">
			<h1 class="h1">Waitstaff Caclulator</h1>
		</div>
	
		<div class="row">

			<!-- Meal Details -->

			<div id="meal-details" class="col-xs-12 col-sm-5 col-sm-offset-1">
				<form name="mealDetails" id="sky-form" class="sky-form" novalidate>
					<header>Enter the Meal Details</header>
					
					<fieldset>					
						<section>
							<div class="row">
								<label class="label col col-5">Base Meal Price</label>
								<div class="col col-7">
									<label class="input">
										<i class="icon-prepend fa fa-dollar"></i>
										<input name="baseMealPrice" type="number"  step="0.01" min="0" ng-model="baseMealPrice" required>
									 	<div ng-if="mealDetails.$submitted" ng-messages="mealDetails.baseMealPrice.$error">
				    						<span ng-message="required" class="error">Please enter your meal price!</span>
				 						</div>
									</label>
								</div>
							</div>
						</section>
						
						<section>
							<div class="row">
								<label class="label col col-5">Tax Rate</label>
								<div class="col col-7">
									<label class="input">
										<i class="icon-prepend">%</i>
										<input name="taxRate" type="number"  step="0.01" min="0" ng-model="taxRate" required>
										<div ng-if="mealDetails.$submitted" ng-messages="mealDetails.taxRate.$error">
				    						<span ng-message="required" class="error">Please enter your tax rate!</span>
				 						</div>
									</label>
								</div>
							</div>
						</section>

						<section>
							<div class="row">
								<label class="label col col-5">Tip Percentage</label>
								<div class="col col-7">
									<label class="input">
										<i class="icon-prepend">%</i>
										<input name="tipPercentage" type="number" step="0.01" min="0" ng-model="tipPercentage" required>
										<div ng-if="mealDetails.$submitted" ng-messages="mealDetails.tipPercentage.$error">
				    						<span ng-message="required" class="error">Please enter your tip rate!</span>
				 						</div>
									</label>
								</div>
							</div>
						</section>
					
					</fieldset>

					<footer>
						<button type="submit" class="button" ng-click="submitMealDetails();">Submit</button>
						<a href="#" class="button button-secondary" ng-click="resetMealDetails();">Cancel</a>
					</footer>

				</form>			
		</div>	

			<!-- End of Meal Details -->
			<!-- Customer Charges -->

		<div id="customer-charges" class="col-xs-12 col-sm-4 col-sm-offset-1">

				<form action="" id="sky-form" class="sky-form">

					<header>Customer Charges</header>
						
					<fieldset>
						<section>
							<label class="label col col-9" for="base-meal-price">Subtotal</label>	
							<div class="output">{{ charges.subtotal | currency }}</div>
						</section>
						
						<section>
							<label class="label col col-9" for="tax-rate">Tip</label>	
							<div class="output">{{ charges.tip | currency }}</div>
						</section>

						<hr>
						
						<section>
							<label class="label col col-9" for="tip-percentage">Total</label>	
							<div class="output">{{ charges.total | currency }}</div>
						</section>
					</fieldset>
				</form>

			</div>

			<!-- End of Customer Charges -->
			<!-- My Earnings Info -->

			<div id="my-earnings" class="col-xs-12 col-sm-4 col-sm-offset-1">

				<form action="" id="sky-form" class="sky-form">
					<header>My Earnings Info</header>
						
					<fieldset>
						<section>
							<label class="label col col-9">Tip Total:</label>	
							<div class="output">{{ earnings.tipTotal  | currency }}</div>
						</section>
						
						<section>
							<label class="label col col-9">Meal Count: </label>	
							<div class="output">{{ earnings.mealCount  | number }}</div>
						</section>

						<hr>
						
						<section>
							<label class="label col col-9">Average Tip Per Meal: </label>	
							<div class="output">{{ earnings.avgTip  | currency }}</div>
						</section>
					</fieldset>
				</form>

				<div class="sky-form">
					<button type="submit" class="button" ng-click="resetAll();">Reset All</button>
				</div>

			<!-- End of My Earnings Info -->

		</div> <!-- end of row -->
		


	</div> <!-- end of container-fluid -->

	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/ngMessages.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
	
</body>
</html>