<div class="row">	

	<div id="my-earnings" class="col-xs-12 col-sm-4 col-sm-offset-4">

		<form action="" id="sky-form" class="sky-form">
			<header>My Earnings Info</header>
				
			<fieldset>
				<section>
					<label class="label col col-9">Tip Total:</label>	
					<div class="output">{{ myearnings.tipTotal  | currency }}</div>
				</section>
				
				<section>
					<label class="label col col-9">Meal Count: </label>	
					<div class="output">{{ myearnings.mealCount  | number }}</div>
				</section>

				<hr>
				
				<section>
					<label class="label col col-9">Average Tip Per Meal: </label>	
					<div class="output">{{ myearnings.avgTip  | currency }}</div>
				</section>
			</fieldset>
		</form>

		<div class="sky-form">
			<button type="submit" class="button" ng-click="resetAll();">Reset All</button>
		</div>

	</div> 

</div>